<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calculadora</title>
  <title>MATH CALC</title>

  <link rel="stylesheet" href="CSS/1common.css">
  <link rel="stylesheet" href="CSS/2icons.css">
  <link rel="stylesheet" href="CSS/3header.css">
  <link rel="stylesheet" href="CSS/4main.css">
  <link rel="stylesheet" href="CSS/5footer.css">
  <link rel="stylesheet" href="CSS/responsive.css">

  <link rel="shortcut icon" href="./ASSETS/ICONS/matchcalc.ico" type="image/x-icon">

  <link href="https://api.fontshare.com/css?f[]=pally@1&display=swap" rel="stylesheet">

  <!--JS-->
  <script src="JS/index.js" type="module" defer></script>
</head>

<body>
  <header id="header"></header>

  <main id="main">
    <section class="mainSection">
      <table class="calculadora">
        <thead>
          <tr>
            <th colspan="7"><input type="text" placeholder="Realiza algún cálculo" id="display"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="formRadio">
              <div class="radioElementX">
                <input type="radio" name="grades" id="rad"><label for="rad">RAD</label>
              </div>
              <div class="radioElementX">
                <input type="radio" name="grades" id="deg"><label for="deg">DEG</label>
              </div>
            </td>
            <td><button class="btn btnNeonWhite btnOperator">PI</button></td>
            <td><button class="btn btnNeonWhite btnOperator">E</button></td>
            <td><button class="btn btnNeonWhite btnOperator">(</button></td>
            <td><button class="btn btnNeonWhite btnOperator">)</button></td>
            <td><button class="btn btnNeonWhite btnOperator">%</button></td>
            <td><button value="clr" class=" btn btnNeonWhite btnOperator">C</button>
            </td>
          </tr>
          <tr>
            <td><button class="btn btnNeonWhite btnOperator">COS</button></td>
            <td><button class="btn btnNeonWhite btnOperator">SIN</button></td>
            <td><button class="btn btnNeonWhite btnOperator">TAN</button></td>
            <td><button value="7" id="7" class=" btn btnNeonWhite btnNumber">7</button>
            </td>
            <td><button value="8" id="8" class=" btn btnNeonWhite btnNumber">8</button></td>
            <td><button value="9" id="9" class=" btn btnNeonWhite btnNumber">9</button></td>
            <td><button value="*" id="product" class=" btn btnNeonWhite btnOperator">*</button></td>
          </tr>
          <tr>
            <td><button class="btn btnNeonWhite btnOperator">ACOS</button></td>
            <td><button class="btn btnNeonWhite btnOperator">ASIN</button></td>
            <td><button class="btn btnNeonWhite btnOperator">ATAN</button></td>
            <td><button value="4" id="4" class=" btn btnNeonWhite btnNumber">4</button></td>
            <td><button value="5" id="5" class=" btn btnNeonWhite btnNumber">5</button></td>
            <td><button value="6" id="6" class=" btn btnNeonWhite btnNumber">6</button></td>
            <td><button value="-" id="minus" class=" btn btnNeonWhite btnOperator">-</button></td>
          </tr>
          <tr>
            <td><button class="btn btnNeonWhite btnOperator">X<sup>Y</sup></button></td>
            <td><button class="btn btnNeonWhite btnOperator">Ln</button></td>
            <td><button class="btn btnNeonWhite btnOperator">Log</button></td>
            <td><button value="1" id="1" class=" btn btnNeonWhite btnNumber">1</button></td>
            <td><button value="2" id="2" class=" btn btnNeonWhite btnNumber">2</button></td>
            <td><button value="3" id="3" class=" btn btnNeonWhite btnNumber">3</button></td>
            <td><button value="+" id="plus" class=" btn btnNeonWhite btnOperator">+</button></td>
          </tr>
          <tr>
            <td><button class="btn btnNeonWhite btnOperator">X<sup>2</sup></button></td>
            <td><button class="btn btnNeonWhite btnOperator">X<sup>3</sup></button></td>
            <td><button class="btn btnNeonWhite btnOperator">X!</button></td>
            <td><button value="." id="dot" class=" btn btnNeonWhite btnOperator">.</button></td>
            <td><button value="0" id="0" class=" btn btnNeonWhite btnNumber">0</button></td>
            <td><button value="=" id="equal" class=" btn btnNeonWhite btnOperator">=</button></td>
            <td><button class="btn btnNeonWhite btnOperator">/</button></td>
          </tr>
        </tbody>
      </table>
    </section>
    <aside class="mainAside" id="mainAside"></aside>
    <!-- <section class="historial"></section> -->
  </main>

  <footer id="footer"></footer>
</body>

</html>