.ads{
  float:right;

  margin-right:5%;

  width:20%;
  height:72%;
}

.ads .grupos{
  position:relative;

  margin: 9.5% auto 0 auto;

  width:90%;
  height:30%;
  transition: transform ease .5s;
}

.ads .grupos:hover{
  transform: scale(1.1);
}

.ads .grupos #prev{
  float:left;
}

.ads .grupos #next{
  float:right;
}

.ads .grupos .buttonCarousel{
  margin:40% .5rem 30% .5rem;
  padding:.8rem;

  color:white;

  background-color: transparent;
  background-color: hsla(289,20%,35%,.5);
  border:none;
  border-radius: .5rem;   
}

.ads .grupos .buttonCarousel:hover{
  cursor: pointer;
}

.ads .grupos #matematicos{
  margin:0;
  
  width:100%;
  height:100%;

  background: url("../ASSETS/IMG/albert_einstein.jpg") no-repeat top / 100% 100%;
  
  border-radius: 1rem;
}

.ads .grupos #figCaptionMat{
  clear:both;

  height:10%;

  text-align:center;
  letter-spacing: .125rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  
  background-color: hsla(0,0%,20%,.7);
  border-radius:0 0 1rem 1rem;
}

.ads .grupos #figCaptionMat #linkBiography{
  text-decoration: none;
  color:white;
}

.notas{
  clear:left;
  width:75%;
  height:20%;
  background-color: yellow;
}

