@media screen and (max-width:1560px){
  .ulVertical li{
    margin:1rem 0;
  }
  .ulContactFooter li{
    margin:1rem 2rem;
  }
}

@media screen and (max-width:1440px) {
  .calculadora td,.calculador th{
    padding:2rem 1rem;
  }

  .btnMQ{
    padding:1rem 2rem;
  }

}

@media screen and (max-width:1280px){
  .mainSection,.mainAside {
    width:100%;
    margin:1rem 0;
  }

  /*mainSection*/
  .calculadora td,.calculador th{
    padding:2rem;
  }

  /*mainAside*/
  .mainAside{
    text-align: center;
  }
  .grupos{
    display:inline-block;
    width: 330px;
    margin:1rem;
  }
}

@media screen and (max-width:1200px){
  /*AJUSTE DE GRUPOS*/
  .grupos{
    width:500px;
  }
  .btnMQ{
    padding:1rem 3rem;
  }
  /*BURGUER MENU*/
  .navHeader{
    width:6.4rem;
    height:6.4rem;
    top: calc(50% - 3.2rem);
    background-image: url("./../ASSETS/ICONS/menu.svg");
    cursor:pointer;
  }

  .ulNavCalc{
    display:none;
    position:absolute;
    z-index:5;
    left:calc(-100vw + 5vw + 6.4rem);
    width:100vw;
    top:calc(100% + ((100px - 6.4rem)/2));
    background-color: hsla(0,0%,0%,.7);
  }

  .ulNavCalc>li{   
    width:100%;
    height:10vh;
    margin:0;
  }

  .ulNavCalc li .btnNav{
    display:block;
    height:100%;
    line-height: 8.4vh;
    text-align: center;
    border-radius: 0px;
  }
  
  /*FOOTER EXTENDIDO*/
  .footerCol:first-child{
    width:100%;
    box-shadow: 2px 0px 10px 2px hsla(var(--fCHS),85%,var(--alpha));
  }

  .footerCol:first-child>*{
    text-align: center;
  }

  .footerCol:not(.footerCol:first-child){
    width:49%;
  }
}

@media screen and (max-width:980px){
  .mainSection,.mainAside{
    padding:0;
  }
}

@media screen and (max-width:730px){
  .footerCol:not(.footerCol:first-child){
    width:100%;
    border:2px solid black;
  }
}

.displayBlock{
  display: block;
}
/*
600,720,960,1200,1560,1920 */